<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>User Page</title>
    </head>
    <body>
        <div>
            <div><p th:utext="${data.id}"></p></div>
            <div><p th:utext="${data.email}"></p></div>
            <div><p th:utext="${data.firstName}"></p></div>
            <div><p th:utext="${data.lastName}"></p></div>
            <div th:if="${data.active == 1}">
                <p>ACTIVE</p>
            </div>
            <div th:unless="${data.active}">
                <p>DISABLED</p>
            </div>
        </div>
    </body>
</html>